/BasicJava/build/
/OCAOracle/nbproject/private/
/VariableAndType/nbproject/private/
/VariableAndType/build/
/FootballPlayerTest/nbproject/private/
/FootballPlayerTest/build/
/Operators/nbproject/private/
/Operators/build/
/Loop/nbproject/private/
/Loop/build/
/OCAOracle/build/
/Array/nbproject/private/
/Array/build/
/Odevler/nbproject/private/
/Odevler/build/
/OOP/nbproject/private/
/OOP/build/
/TCPServer/target/
/TCPClient/target/
/HaftasonuCalismasi/target/
/DesignPattern/target/
/YahtzeeGameServer/nbproject/private/
/HW1/target/
/CodilityCase/nbproject/private/
/CodilityCase/build/
/DesignPolicies/nbproject/private/
/DesignPolicies/build/
/DesignPatterns/nbproject/private/
/DesignPatterns/build/