/BasicJava/build/
/OCAOracle/nbproject/private/
/VariableAndType/nbproject/private/
/VariableAndType/build/
/FootballPlayerTest/nbproject/private/
/FootballPlayerTest/build/
/Operators/nbproject/private/
/Operators/build/
/Loop/nbproject/private/
/Loop/build/
/OCAOracle/build/
/Array/nbproject/private/
/Array/build/
/Odevler/nbproject/private/
/Odevler/build/
/OOP/nbproject/private/
/OOP/build/
/TCPServer/target/
/TCPClient/target/
/HaftasonuCalismasi/target/
/DesignPattern/target/
/YahtzeeGameServer/nbproject/private/
/HW1/target/
/CodilityCase/nbproject/private/
/CodilityCase/build/
/DesignPolicies/nbproject/private/
/DesignPolicies/build/
/DesignPatterns/nbproject/private/
/DesignPatterns/build/
/Design-Patterns/nbproject/private/
/Design-Patterns/build/
/Loosecoupling/nbproject/private/
/Loosecoupling/build/
/LooseCouplingCalculateExample/nbproject/private/
/LooseCouplingCalculateExample/build/
/LiskovSubstitutionPrinciple/nbproject/private/
/LogisticAndUserRelations/nbproject/private/
/HW2/nbproject/private/
/HW2/build/
/MicroconrollerSerialPort/nbproject/private/
/MicroconrollerSerialPort/build/
/FootballPlayer/nbproject/private/
/FootballPlayer/build/
/JavaApplication59/nbproject/private/
/JavaApplication59/build/
/Odevler/dist/
/AdvancedClassAndObject/nbproject/private/
/AdvancedClassAndObject/build/
/Inheritance/nbproject/private/
/Inheritance/build/
/Exception/nbproject/private/
/Exception/build/
/AirplaneTicketSystem/nbproject/private/
/AirplaneTicketSystem/build/
/AirplaneTicketSystem/dist/
/Polymorphism/build/
/Lambda/nbproject/private/
/Lambda/build/
/BasicJava/dist/
/AdvancedClassAndObject/dist/
/Collection/nbproject/private/
/Collection/build/
/Lambda/dist/
/Spring/nbproject/private/
/Spring/build/
/Spring/dist/
